body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="button"] {
  background-color: green;
  margin: 0.5rem;
  /* height: 2rem; */
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

select {
  margin: 0.5rem;
  padding: 0.5rem;
}
